## 실습 설명
스팀(Steam)은 온라인 게임을 유통하는 플랫폼입니다.  
스팀 플랫폼에서 가장 반응이 좋은 게임이 무엇인지 알아보려고 하는데요.

데이터를 살펴보니 결측값이 있는 것 같네요. 분석에 앞서 결측값을 제거해 봅시다.

결측값이 있는 모든 row를 삭제하고, DataFrame을 출력해 주세요.

In [9]:
import pandas as pd

df = pd.read_csv('data/steam_1.csv')
df

                                    Name  Hours
0             The Elder Scrolls V Skyrim  273.0
1                              Fallout 4   87.0
2                                  Spore   14.9
3                      Fallout New Vegas   12.1
4                          Left 4 Dead 2    8.9
...                                  ...    ...
20221  Nancy Drew Tomb of the Lost Queen    8.4
20222                           Portal 2    8.3
20223                 Farm for your Life    8.0
20224                           PAYDAY 2    7.5
20225         Sid Meier's Civilization V    7.5

[20226 rows x 2 columns]

In [10]:
df.dropna(inplace=True)
df

                                    Name  Hours
0             The Elder Scrolls V Skyrim  273.0
1                              Fallout 4   87.0
2                                  Spore   14.9
3                      Fallout New Vegas   12.1
4                          Left 4 Dead 2    8.9
...                                  ...    ...
20221  Nancy Drew Tomb of the Lost Queen    8.4
20222                           Portal 2    8.3
20223                 Farm for your Life    8.0
20224                           PAYDAY 2    7.5
20225         Sid Meier's Civilization V    7.5

[20216 rows x 2 columns]