## 실습 설명
이번에는 여자 비율이 높은 직업과, 남자 비율이 높은 직업이 무엇인지 궁금한데요.

groupby 문법을 사용해서 '여성 비율'이 높은 순으로 직업을 나열해 보세요.

DataFrame이 아닌 Series로, 'gender'에 대한 값만 아래와 같이 출력되어야 합니다.

In [42]:
import pandas as pd

df = pd.read_csv('data/occupations.csv')
df

     age gender     occupation
0     24      M     technician
1     53      F          other
2     23      M         writer
3     24      M     technician
4     33      F          other
..   ...    ...            ...
938   26      F        student
939   32      M  administrator
940   20      M        student
941   48      F      librarian
942   22      M        student

[943 rows x 3 columns]

In [43]:
df.loc[df['gender'] == 'M', 'gender'] = 0
df.loc[df['gender'] == 'F', 'gender'] = 1

In [44]:
df

     age gender     occupation
0     24      0     technician
1     53      1          other
2     23      0         writer
3     24      0     technician
4     33      1          other
..   ...    ...            ...
938   26      1        student
939   32      0  administrator
940   20      0        student
941   48      1      librarian
942   22      0        student

[943 rows x 3 columns]

In [56]:
df_group = df.groupby('occupation')
df_group

In [60]:
gender_mean = df_group['gender'].mean()
gender_mean

occupation
administrator    0.455696
artist           0.464286
doctor                0.0
educator         0.273684
engineer         0.029851
entertainment    0.111111
executive         0.09375
healthcare         0.6875
homemaker        0.857143
lawyer           0.166667
librarian        0.568627
marketing        0.384615
none             0.444444
other            0.342857
programmer       0.090909
retired          0.071429
salesman             0.25
scientist        0.096774
student          0.306122
technician       0.037037
writer           0.422222
Name: gender, dtype: object

In [63]:
gender_mean.sort_values(ascending=False)

occupation
homemaker        0.857143
healthcare         0.6875
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman             0.25
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive         0.09375
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor                0.0
Name: gender, dtype: object