## 실습 설명
이번에는 읍면동 단위 및 상세 업종별로 카드 이용 현황을 좀 더 자세히 살펴볼 수 있는 데이터를 사용할 건데요. 이와 함께 어느 지역에 유동 인구가 많은지도 함께 살펴볼 겁니다. 지난 실습과 비교해서 어떤 정보를 추가로 얻을 수 있을지, 어떤 식으로 데이터에 접근하면 좋을지 한번 고민해 보세요! 어떻게 해야 할지 잘 모르겠다면 아래 가이드라인을 참고하시면 됩니다.

1. 데이터 불러오기
data 폴더 안에 있는 csv 파일을 DataFrame으로 불러옵시다.
읍면동별, 상세 업종별 카드 이용 데이터(2017년): jeju_card_region_2017.csv
읍면동별, 상세 업종별 카드 이용 데이터(2018년): jeju_card_region_2018.csv
읍면동 단위 내국인 유동인구 데이터: jeju_population.csv


2. 데이터 탐색 및 전처리
데이터를 간단히 탐색하고 전처리해 봅시다.
데이터 개수, 컬럼별 데이터 타입, 통계 정보, 결측값 존재 여부 등을 확인해 보세요.
각 컬럼이 어떤 값들로 이루어져 있는지 확인해 보세요.
2017년과 2018년 카드 데이터를 하나로 합쳐 주세요.

3. 데이터 분석
이용금액과 이용자수가 많은 업종과 지역 Top 10을 각각 뽑아 보세요.
인당 이용금액이 많은 지역 Top 10도 뽑아 봅시다.
각 지역에서 어떤 업종들이 활성화되어 있는지도 함께 확인해 보세요.
데이터를 기반으로 카페 이용자수와 유동인구의 관계에 대해 살펴보세요.
카드 매출액 데이터와 유동인구 데이터를 하나로 합쳐서 보면 되겠죠? 어떻게 데이터를 합치는 게 좋을지 한번 고민해 보세요!
더 알아보고 싶은 게 있다면 원하는 대로 자유롭게 데이터를 탐색해 보세요!

## 1. 데이터 불러오

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt   # as in Pycharm
import seaborn as sns

from matplotlib import rc 

rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
jeju_card_region_2017 = pd.read_csv('data/jeju_card_region_2017.csv')
jeju_card_region_2017

               연월  시군구명 읍면동명              업종명  성별  이용자수       이용금액
0      2017-01-01  서귀포시  남원읍       건강보조식품 소매업  남성    11     137500
1      2017-01-01  서귀포시  천지동       건강보조식품 소매업  여성    61   12334400
2      2017-01-01  서귀포시  대정읍    기타음식료품위주종합소매업  남성   555   17301300
3      2017-01-01  서귀포시  대정읍           기타 주점업  남성   324   71843080
4      2017-01-01  서귀포시  대정읍      기타 외국식 음식점업  남성    40     971000
...           ...   ...  ...              ...  ..   ...        ...
26963  2017-12-01   제주시  오라동  그외 기타 스포츠시설 운영업  여성     2      11000
26964  2017-12-01   제주시  애월읍      차량용 주유소 운영업  여성  5715  354088518
26965  2017-12-01   제주시  애월읍       차량용 가스 충전업  여성   161   13180590
26966  2017-12-01   제주시  애월읍          중식 음식점업  여성   321    8899500
26967  2017-12-01   제주시  애월읍      전시 및 행사 대행업  여성   424    9898930

[26968 rows x 7 columns]

In [3]:
jeju_card_region_2018 = pd.read_csv('data/jeju_card_region_2018.csv')
jeju_card_region_2018

               연월 시군구명  읍면동명                 업종명  성별  이용자수       이용금액
0      2018-01-01  제주시   아라동         차량용 주유소 운영업  남성  3954  205339045
1      2018-01-01  제주시  삼도1동         차량용 주유소 운영업  남성   490   29469792
2      2018-01-01  제주시  삼도2동              육류 소매업  여성    89    2386740
3      2018-01-01  제주시  삼도1동  스포츠 및 레크레이션 용품 임대업  남성   106   12517300
4      2018-01-01  제주시  삼도1동             수산물 소매업  남성    37    2621000
...           ...  ...   ...                 ...  ..   ...        ...
27178  2018-12-01  제주시   오라동             중식 음식점업  여성   110    3043250
27179  2018-12-01  제주시    연동  스포츠 및 레크레이션 용품 임대업  여성  2317  365724920
27180  2018-12-01  제주시    연동                 호텔업  여성   810  232661992
27181  2018-12-01  제주시   오라동       기타음식료품위주종합소매업  남성    25    1225510
27182  2018-12-01  제주시    연동       화장품 및 방향제 소매업  여성  2351   84518980

[27183 rows x 7 columns]

In [4]:
df_pop = pd.read_csv('data/jeju_population.csv')
df_pop

             연월일  시군구명 읍면동명 성별    연령대   방문인구
0       20170101   제주시  한림읍  남    40대  19424
1       20170101   제주시  애월읍  여    20대  27747
2       20170101   제주시  구좌읍  남    70대   3459
3       20170101   제주시  조천읍  남    40대  36695
4       20170101   제주시  한경면  남    70대   1174
...          ...   ...  ... ..    ...    ...
527021  20181231  서귀포시  대륜동  남    40대  22791
527022  20181231  서귀포시  대천동  여    60대   7060
527023  20181231  서귀포시  중문동  남  10세미만   6061
527024  20181231  서귀포시  중문동  여    20대   9482
527025  20181231  서귀포시  예래동  여    50대  12314

[527026 rows x 6 columns]

## 2. 데이터 탐색 및 전처리

### 2017년 데이터

In [5]:
# 데이터개수
jeju_card_region_2017.shape

(26968, 7)

In [6]:
# 컬럼별 데이터 타입
jeju_card_region_2017.dtypes

연월      object
시군구명    object
읍면동명    object
업종명     object
성별      object
이용자수     int64
이용금액     int64
dtype: object

In [7]:
# 통계 정보
jeju_card_region_2017.describe()

               이용자수          이용금액
count  26968.000000  2.696800e+04
mean    1703.495179  6.323139e+07
std     4313.160764  1.987984e+08
min        1.000000  1.000000e+01
25%       43.000000  2.635000e+06
50%      281.000000  1.212517e+07
75%     1333.250000  4.905928e+07
max    62761.000000  5.092990e+09

In [8]:
# 결측값
jeju_card_region_2017.isnull().sum()

연월      0
시군구명    0
읍면동명    0
업종명     0
성별      0
이용자수    0
이용금액    0
dtype: int64

### 2018년 데이터

In [9]:
# 데이터 개수
jeju_card_region_2018.shape

(27183, 7)

In [10]:
# 컬럼별 타입
jeju_card_region_2018.dtypes

연월      object
시군구명    object
읍면동명    object
업종명     object
성별      object
이용자수     int64
이용금액     int64
dtype: object

In [11]:
# 통계 정보
jeju_card_region_2018.describe()

               이용자수          이용금액
count  27183.000000  2.718300e+04
mean    1726.604164  6.204426e+07
std     4399.634438  1.900428e+08
min        1.000000  1.000000e+01
25%       45.000000  2.706600e+06
50%      288.000000  1.231190e+07
75%     1339.000000  4.942617e+07
max    63621.000000  4.836250e+09

In [12]:
# 결측값
jeju_card_region_2018.isnull().sum()

연월      0
시군구명    0
읍면동명    0
업종명     0
성별      0
이용자수    0
이용금액    0
dtype: int64

## 읍면동 단위 유동인구 데이터

In [13]:
# 데이터 크기
df_pop.shape

(527026, 6)

In [14]:
# 데이터 타입
df_pop.dtypes

연월일      int64
시군구명    object
읍면동명    object
성별      object
연령대     object
방문인구     int64
dtype: object

In [15]:
# 통계 정보
df_pop.describe()

                연월일           방문인구
count  5.270260e+05  527026.000000
mean   2.017531e+07    9931.281117
std    4.999286e+03    9974.524031
min    2.017010e+07       0.000000
25%    2.017062e+07    3292.000000
50%    2.017121e+07    6811.000000
75%    2.018053e+07   12783.000000
max    2.018123e+07   98444.000000

In [16]:
# 결측값
df_pop.isnull().sum()

연월일     0
시군구명    0
읍면동명    0
성별      0
연령대     0
방문인구    0
dtype: int64

2017년 2018년 데이터 합치기

In [17]:
df = pd.merge(jeju_card_region_2017, jeju_card_region_2018, how='outer')
df

               연월  시군구명 읍면동명                 업종명  성별  이용자수       이용금액
0      2017-01-01  서귀포시  남원읍          건강보조식품 소매업  남성    11     137500
1      2017-01-01  서귀포시  천지동          건강보조식품 소매업  여성    61   12334400
2      2017-01-01  서귀포시  대정읍       기타음식료품위주종합소매업  남성   555   17301300
3      2017-01-01  서귀포시  대정읍              기타 주점업  남성   324   71843080
4      2017-01-01  서귀포시  대정읍         기타 외국식 음식점업  남성    40     971000
...           ...   ...  ...                 ...  ..   ...        ...
54146  2018-12-01   제주시  오라동             중식 음식점업  여성   110    3043250
54147  2018-12-01   제주시   연동  스포츠 및 레크레이션 용품 임대업  여성  2317  365724920
54148  2018-12-01   제주시   연동                 호텔업  여성   810  232661992
54149  2018-12-01   제주시  오라동       기타음식료품위주종합소매업  남성    25    1225510
54150  2018-12-01   제주시   연동       화장품 및 방향제 소매업  여성  2351   84518980

[54151 rows x 7 columns]

## 3. 데이터 분석

이용금액과 이용자수가 많은 업종과 지역 Top 10을 각각 뽑아 보세요.

이용금액과 이용자수가 많은 업종

In [18]:
# 이용금액과 이용자수가 많은 업종
sector = df.groupby('업종명').sum(numeric_only=True)
sector

                             이용자수          이용금액
업종명
건강보조식품 소매업                  43738    7042351269
골프장 운영업                    454602   63978385373
과실 및 채소 소매업               1088336   70647018956
관광 민예품 및 선물용품 소매업          611692   20571366644
그외 기타 분류안된 오락관련 서비스업         2361     116100063
그외 기타 스포츠시설 운영업             18761    1191623694
그외 기타 종합 소매업               920327   61397685585
기타 갬블링 및 베팅업                    3       5736038
기타 대형 종합 소매업              3026355  176181070237
기타 수상오락 서비스업                 1188     214491300
기타 외국식 음식점업                515110   18630892911
기타 주점업                     262989   51724117734
기타음식료품위주종합소매업             2238649   94161392029
내항 여객 운송업                  239458    7749726604
마사지업                         3621     441834050
면세점                       2122760  216084015155
버스 운송업                          5       6564000
비알콜 음료점업                  2990107   32196462878
빵 및 과자류 소매업               3295046   45801876571
서양식 음식점업                  3483836   82613944504
수산물 소매업                    804683   56999528206
슈퍼마켓                     11427536  303567124207
스포츠 및 레크레이션 용품 임대업         991236  112011498985
여관업                        953862   72403114967
여행사업                        63548    5790670098
욕탕업                        268457    5920642458
육류 소매업                     695049   40759962062
일반유흥 주점업                   541603  116184655729
일식 음식점업                   1294471   92915797327
자동차 임대업                    375290   29386903192
전시 및 행사 대행업                868990   26877644577
정기 항공 운송업                  640930  102803758104
중식 음식점업                   1017353   28747667386
차량용 가스 충전업                 318051   15997899960
차량용 주유소 운영업               5683264  302282701948
체인화 편의점                  22577070  208385597308
택시 운송업                          7        227000
피자, 햄버거, 샌드위치 및 유사 음식점업   2963257   38337318851
한식 음식점업                  18828766  764903591034
호텔업                        261891   55612663219
화장품 및 방향제 소매업              662329   31541757654
휴양콘도 운영업                   317552   29585862101

In [19]:
sector['이용자수'].sort_values(ascending=False).head(10)

업종명
체인화 편의점                    22577070
한식 음식점업                    18828766
슈퍼마켓                       11427536
차량용 주유소 운영업                 5683264
서양식 음식점업                    3483836
빵 및 과자류 소매업                 3295046
기타 대형 종합 소매업                3026355
비알콜 음료점업                    2990107
피자, 햄버거, 샌드위치 및 유사 음식점업     2963257
기타음식료품위주종합소매업               2238649
Name: 이용자수, dtype: int64

In [20]:
sector['이용금액'].sort_values(ascending=False).head(10)

업종명
한식 음식점업               764903591034
슈퍼마켓                  303567124207
차량용 주유소 운영업           302282701948
면세점                   216084015155
체인화 편의점               208385597308
기타 대형 종합 소매업          176181070237
일반유흥 주점업              116184655729
스포츠 및 레크레이션 용품 임대업    112011498985
정기 항공 운송업             102803758104
기타음식료품위주종합소매업          94161392029
Name: 이용금액, dtype: int64

이용금액과 이용자수가 많은 지역

In [21]:
place = df.groupby('읍면동명').sum(numeric_only=True)
place

         이용자수          이용금액
읍면동명
건입동   1247860   46077137130
구좌읍   1593134   48035516926
남원읍   1209827   52349473146
노형동   7642921  245644045189
대륜동   1735095   67069487603
대정읍   1715861   56164010423
대천동   1221892   33847001011
도두동    741136   29033944428
동홍동   1959703   65748200288
봉개동    631429   24768113201
삼도1동  1094904   34275405385
삼도2동  1436285   63127792729
삼양동   1571391   40040100193
서홍동    630414   14340555341
성산읍   2361002   79796700869
송산동   5468346  205357714141
아라동   3653006   80280971143
안덕면   2057774   69668716092
애월읍   3397281  120988320522
연동    7100596  340461915654
영천동    652686   35970307258
예래동   1259725   72430813294
오라동   1339046   46704908156
외도동   1574154   42808089522
용담1동   482876   19326144801
용담2동  5820083  289912196043
우도면    600163   14336890907
이도1동  1082146   45553719645
이도2동  6742075  201304448132
이호동    423538   12463690048
일도1동  1161659   55313193619
일도2동  3145294  106631315225
정방동   3053162  118137020208
조천읍   2475693   81088770827
중문동   1599439   66174146830
중앙동   3053162  118137020208
천지동   3683576  132477575549
추자면     63461    2495633607
표선면   1278988   50551227038
한경면    572525   22391791132
한림읍   2195237   80368290420
화북동   1723143   48701154512
효돈동    422451   11419773573

In [22]:
place['이용금액'].sort_values(ascending=False).head(10)

읍면동명
연동      340461915654
용담2동    289912196043
노형동     245644045189
송산동     205357714141
이도2동    201304448132
천지동     132477575549
애월읍     120988320522
중앙동     118137020208
정방동     118137020208
일도2동    106631315225
Name: 이용금액, dtype: int64

In [23]:
place['이용자수'].sort_values(ascending=False).head(10)

읍면동명
노형동     7642921
연동      7100596
이도2동    6742075
용담2동    5820083
송산동     5468346
천지동     3683576
아라동     3653006
애월읍     3397281
일도2동    3145294
중앙동     3053162
Name: 이용자수, dtype: int64

인당 이용금액이 많은 지역 Top 10도 뽑아 봅시다.

In [24]:
place['인당이용금액'] = place['이용금액']/place['이용자수']
place

         이용자수          이용금액        인당이용금액
읍면동명
건입동   1247860   46077137130  36924.925176
구좌읍   1593134   48035516926  30151.586072
남원읍   1209827   52349473146  43270.213961
노형동   7642921  245644045189  32140.073826
대륜동   1735095   67069487603  38654.648652
대정읍   1715861   56164010423  32732.261193
대천동   1221892   33847001011  27700.484995
도두동    741136   29033944428  39174.921240
동홍동   1959703   65748200288  33550.084012
봉개동    631429   24768113201  39225.492020
삼도1동  1094904   34275405385  31304.484580
삼도2동  1436285   63127792729  43952.135355
삼양동   1571391   40040100193  25480.672979
서홍동    630414   14340555341  22747.837677
성산읍   2361002   79796700869  33797.811636
송산동   5468346  205357714141  37553.899139
아라동   3653006   80280971143  21976.687458
안덕면   2057774   69668716092  33856.349673
애월읍   3397281  120988320522  35613.280303
연동    7100596  340461915654  47948.357526
영천동    652686   35970307258  55111.197816
예래동   1259725   72430813294  57497.321474
오라동   1339046   46704908156  34879.241009
외도동   1574154   42808089522  27194.346628
용담1동   482876   19326144801  40022.997210
용담2동  5820083  289912196043  49812.381721
우도면    600163   14336890907  23888.328516
이도1동  1082146   45553719645  42095.724278
이도2동  6742075  201304448132  29857.936634
이호동    423538   12463690048  29427.560332
일도1동  1161659   55313193619  47615.688958
일도2동  3145294  106631315225  33901.859484
정방동   3053162  118137020208  38693.335043
조천읍   2475693   81088770827  32753.968617
중문동   1599439   66174146830  41373.348299
중앙동   3053162  118137020208  38693.335043
천지동   3683576  132477575549  35964.393174
추자면     63461    2495633607  39325.469296
표선면   1278988   50551227038  39524.395098
한경면    572525   22391791132  39110.591034
한림읍   2195237   80368290420  36610.302405
화북동   1723143   48701154512  28262.979052
효돈동    422451   11419773573  27032.184971

In [25]:
place['인당이용금액'].sort_values(ascending=False).head(10)

읍면동명
예래동     57497.321474
영천동     55111.197816
용담2동    49812.381721
연동      47948.357526
일도1동    47615.688958
삼도2동    43952.135355
남원읍     43270.213961
이도1동    42095.724278
중문동     41373.348299
용담1동    40022.997210
Name: 인당이용금액, dtype: float64

In [26]:
# 각 지역에서 어떤 업종들이 활성화되어 있는지도 함께 확인해 보세요.
groupby_region_sector = df.groupby(['읍면동명', '업종명']).sum(numeric_only=True).reset_index()
groupby_region_sector

     읍면동명                      업종명    이용자수        이용금액
0     건입동               건강보조식품 소매업      49     4587000
1     건입동              과실 및 채소 소매업    2501   391500342
2     건입동        관광 민예품 및 선물용품 소매업    3502    75545640
3     건입동             그외 기타 종합 소매업       3      275000
4     건입동              기타 외국식 음식점업    5293   181635728
...   ...                      ...     ...         ...
1229  효돈동              차량용 주유소 운영업   80406  3618787777
1230  효돈동                  체인화 편의점  110730  1044920210
1231  효돈동  피자, 햄버거, 샌드위치 및 유사 음식점업   14501   122548910
1232  효돈동                  한식 음식점업   50203  2056391378
1233  효돈동            화장품 및 방향제 소매업       2      600000

[1234 rows x 4 columns]

In [27]:
# 각 지역에서 어떤 업종들이 활성화되어 있는지 확인
for region in groupby_region_sector['읍면동명'].unique():
    region_data = groupby_region_sector[groupby_region_sector['읍면동명'] == region]
    region_data = region_data.sort_values(by='이용자수', ascending=False).head(10)
    print(region_data)

   읍면동명                      업종명    이용자수         이용금액
24  건입동                  체인화 편의점  289677   2507213130
26  건입동                  한식 음식점업  234816  10667669485
12  건입동                     슈퍼마켓  204619   8937264501
23  건입동              차량용 주유소 운영업  120684   5936930821
10  건입동                 서양식 음식점업   94057   1535173042
7   건입동                      면세점   49248   3215267313
22  건입동               차량용 가스 충전업   42591   1439888624
9   건입동              빵 및 과자류 소매업   35243    715096540
25  건입동  피자, 햄버거, 샌드위치 및 유사 음식점업   29603    404126400
8   건입동                 비알콜 음료점업   27725    275428460
   읍면동명            업종명    이용자수         이용금액
57  구좌읍        한식 음식점업  473270  16214770362
55  구좌읍        체인화 편의점  308625   2922152476
41  구좌읍       서양식 음식점업  190175   3653335110
54  구좌읍    차량용 주유소 운영업  159671   8784917013
38  구좌읍  기타음식료품위주종합소매업  133252   4408931727
43  구좌읍           슈퍼마켓   83612   1810691155
51  구좌읍    전시 및 행사 대행업   58423   1299330400
39  구좌읍       비알콜 음료점업   53047    922838700
50  구좌읍        일식 음식점업   21558    906438174
30  구좌읍        골프장 운영업   19530   2917559040
   읍면동명            업종명    이용자수         이용금액
84  남원읍        체인화 편의점  212480   2270709215
86  남원읍        한식 음식점업  186705   8303526080
68  남원읍  기타음식료품위주종합소매업  183314   6963444380
83  남원읍    차량용 주유소 운영업  153175   7460155749
61  남원읍        골프장 운영업   98190  12671248122
73  남원읍           슈퍼마켓   75266   1881933370
88  남원읍       휴양콘도 운영업   73810   3845759686
71  남원읍       서양식 음식점업   52690   1074129600
80  남원읍    전시 및 행사 대행업   46745   1288172100
62  남원읍    과실 및 채소 소매업   20181   1350868598
    읍면동명                      업종명     이용자수         이용금액
117  노형동                  체인화 편의점  1663053  14196847745
119  노형동                  한식 음식점업  1526139  63161096579
104  노형동                     슈퍼마켓  1080265  24671714099
95   노형동             기타 대형 종합 소매업  1073067  66090723808
116  노형동              차량용 주유소 운영업   396986  20333003073
118  노형동  피자, 햄버거, 샌드위치 및 유사 음식점업   367362   4684824418
101  노형동              빵 및 과자류 소매업   302806   4095467385
100  노형동                 비알콜 음료점업   300088   2738692471
102  노형동                 서양식 음식점업   266254   6545040225
98   노형동            기타음식료품위주종합소매업   145358   6130829000
    읍면동명            업종명    이용자수         이용금액
128  대륜동   기타 대형 종합 소매업  512848  30909968170
150  대륜동        체인화 편의점  423024   3801862441
152  대륜동        한식 음식점업  271118  10507150923
149  대륜동    차량용 주유소 운영업  117428   5615942593
136  대륜동       서양식 음식점업   64878   1518999034
138  대륜동           슈퍼마켓   63460   1300287759
135  대륜동    빵 및 과자류 소매업   47331    649365758
134  대륜동       비알콜 음료점업   45288    361067028
132  대륜동  기타음식료품위주종합소매업   45056   1104060500
140  대륜동            여관업   25606   2601210196
    읍면동명                      업종명    이용자수         이용금액
181  대정읍                  체인화 편의점  439769   4347143856
183  대정읍                  한식 음식점업  373078  16635695840
169  대정읍                     슈퍼마켓  324037  10513923561
180  대정읍              차량용 주유소 운영업  168917   9559795265
166  대정읍              빵 및 과자류 소매업   97729   1154920725
167  대정읍                 서양식 음식점업   57328   1298145800
182  대정읍  피자, 햄버거, 샌드위치 및 유사 음식점업   48317    742803050
178  대정읍                  중식 음식점업   38390   1119314219
165  대정읍                 비알콜 음료점업   34976    553538820
164  대정읍            기타음식료품위주종합소매업   25195    755081820
    읍면동명                      업종명    이용자수        이용금액
207  대천동                  체인화 편의점  379979  3892719216
209  대천동                  한식 음식점업  215012  7815285053
206  대천동              차량용 주유소 운영업  165227  8171642676
208  대천동  피자, 햄버거, 샌드위치 및 유사 음식점업  110805  1278721390
196  대천동                     슈퍼마켓  106728  2365297378
193  대천동              빵 및 과자류 소매업   69411   974329280
194  대천동                 서양식 음식점업   42313  1086017540
187  대천동              과실 및 채소 소매업   23982  2699857575
192  대천동                 비알콜 음료점업   22487   161117580
212  대천동                 휴양콘도 운영업   19794  1658476739
    읍면동명          업종명    이용자수        이용금액
235  도두동      체인화 편의점  172321  1677487278
236  도두동      한식 음식점업  141130  7278513648
230  도두동      자동차 임대업   99482  6530984090
223  도두동         슈퍼마켓   79478  1889417072
234  도두동  차량용 주유소 운영업   52705  2420101423
233  도두동   차량용 가스 충전업   37921  1159748172
229  도두동      일식 음식점업   32926  2999871661
227  도두동          욕탕업   31396   499570000
219  도두동     비알콜 음료점업   24207   301937290
221  도두동     서양식 음식점업   17944   420142680
    읍면동명                      업종명    이용자수         이용금액
250  동홍동                     슈퍼마켓  569488  16830884971
261  동홍동                  체인화 편의점  399584   3732538954
263  동홍동                  한식 음식점업  303922  14375330223
241  동홍동             기타 대형 종합 소매업  265259  15788282580
260  동홍동              차량용 주유소 운영업   78098   3893952406
247  동홍동              빵 및 과자류 소매업   59742    730412466
262  동홍동  피자, 햄버거, 샌드위치 및 유사 음식점업   45524    862988899
246  동홍동                 비알콜 음료점업   42585    431958360
248  동홍동                 서양식 음식점업   34940    710231117
256  동홍동                  일식 음식점업   27106   1922906812
    읍면동명           업종명    이용자수        이용금액
284  봉개동       체인화 편의점  172203  1842181360
283  봉개동   차량용 주유소 운영업  135223  7454511998
276  봉개동          슈퍼마켓  126178  2580662951
286  봉개동       한식 음식점업   61935  2024815651
287  봉개동      휴양콘도 운영업   43472  5144869175
266  봉개동       골프장 운영업   30490  3514647472
272  봉개동      비알콜 음료점업   10923    93825600
269  봉개동  그외 기타 종합 소매업   10510   812288800
270  봉개동   기타 외국식 음식점업    8448   230608848
267  봉개동   과실 및 채소 소매업    8256   313545208
     읍면동명          업종명    이용자수         이용금액
301  삼도1동         슈퍼마켓  446759  11453469963
313  삼도1동      체인화 편의점  264428   2268658040
315  삼도1동      한식 음식점업  185495   6106274840
298  삼도1동  빵 및 과자류 소매업   39768    572113192
299  삼도1동     서양식 음식점업   18808    255639354
311  삼도1동      중식 음식점업   16775    396184500
312  삼도1동  차량용 주유소 운영업   16625    877983017
294  삼도1동       기타 주점업   14988   2826907569
303  삼도1동          여관업   14147    732270950
308  삼도1동      일식 음식점업   11652    781910314
     읍면동명                      업종명    이용자수         이용금액
324  삼도2동             기타 대형 종합 소매업  470105  33001224330
342  삼도2동                  체인화 편의점  406699   3764912259
344  삼도2동                  한식 음식점업  314012  11669450868
332  삼도2동                     슈퍼마켓   53612    854386802
345  삼도2동                      호텔업   33419   7259621046
329  삼도2동              빵 및 과자류 소매업   33214    375839173
330  삼도2동                 서양식 음식점업   24780    486894986
334  삼도2동                      여관업   21369    535154626
341  삼도2동                  중식 음식점업   16945    419003400
343  삼도2동  피자, 햄버거, 샌드위치 및 유사 음식점업   15454    167738430
    읍면동명                      업종명    이용자수        이용금액
358  삼양동                     슈퍼마켓  422157  9776221262
370  삼양동                  체인화 편의점  395824  3664200676
372  삼양동                  한식 음식점업  240139  9598265702
369  삼양동              차량용 주유소 운영업   96039  6001207679
355  삼양동              빵 및 과자류 소매업   81129   974015778
354  삼양동                 비알콜 음료점업   73395   632627940
371  삼양동  피자, 햄버거, 샌드위치 및 유사 음식점업   57885   906346877
353  삼양동            기타음식료품위주종합소매업   53386  1171846440
367  삼양동                  중식 음식점업   31717   871359313
356  삼양동                 서양식 음식점업   30654   705940715
    읍면동명                      업종명    이용자수        이용금액
396  서홍동                  체인화 편의점  267918  2326402664
398  서홍동                  한식 음식점업  129091  4531094701
395  서홍동              차량용 주유소 운영업   57390  3006793391
382  서홍동                 비알콜 음료점업   36414   323117400
384  서홍동                 서양식 음식점업   29745   480879751
386  서홍동                     슈퍼마켓   14693   347739375
383  서홍동              빵 및 과자류 소매업   14562   169029882
379  서홍동              기타 외국식 음식점업   13639   267692065
381  서홍동                내항 여객 운송업   13288  1166934200
397  서홍동  피자, 햄버거, 샌드위치 및 유사 음식점업   12541   162632093
    읍면동명                      업종명    이용자수         이용금액
427  성산읍                  체인화 편의점  599939   5804787833
429  성산읍                  한식 음식점업  576987  25869141844
415  성산읍                     슈퍼마켓  227398   5741454226
426  성산읍              차량용 주유소 운영업  163377   8704285422
410  성산읍            기타음식료품위주종합소매업  130080   6395840057
412  성산읍              빵 및 과자류 소매업   95740   1084079663
411  성산읍                 비알콜 음료점업   83676   1071222537
413  성산읍                 서양식 음식점업   75432   1609505860
423  성산읍              전시 및 행사 대행업   65061   4153045470
428  성산읍  피자, 햄버거, 샌드위치 및 유사 음식점업   52602    744615060
    읍면동명                      업종명     이용자수         이용금액
460  송산동                  체인화 편의점  1300990  12755621032
462  송산동                  한식 음식점업  1073239  48882701780
448  송산동                     슈퍼마켓   847420  22681646374
459  송산동              차량용 주유소 운영업   307650  16973750265
438  송산동             기타 대형 종합 소매업   265259  15788282580
461  송산동  피자, 햄버거, 샌드위치 및 유사 음식점업   214767   2879703993
445  송산동              빵 및 과자류 소매업   210996   3034051817
446  송산동                 서양식 음식점업   144849   3508878014
455  송산동                  일식 음식점업   140209  11283422084
444  송산동                 비알콜 음료점업   138608   1536821323
    읍면동명                      업종명     이용자수         이용금액
490  아라동                  체인화 편의점  1167124  10340914943
492  아라동                  한식 음식점업   712061  24525803070
479  아라동                     슈퍼마켓   627062  12178827995
477  아라동                 서양식 음식점업   212138   4538105812
476  아라동              빵 및 과자류 소매업   173072   2259964974
489  아라동              차량용 주유소 운영업   171971   8290332816
475  아라동                 비알콜 음료점업   134662   1322616147
491  아라동  피자, 햄버거, 샌드위치 및 유사 음식점업   131408   1715397469
473  아라동            기타음식료품위주종합소매업    90813   3395743090
485  아라동                  일식 음식점업    54270   2424989750
    읍면동명            업종명    이용자수         이용금액
520  안덕면        체인화 편의점  505432   4866433400
522  안덕면        한식 음식점업  326927  17178483115
507  안덕면       서양식 음식점업  289706   7623665332
516  안덕면    전시 및 행사 대행업  182616   5000669334
519  안덕면    차량용 주유소 운영업  172808  10213349238
504  안덕면  기타음식료품위주종합소매업   90799   3368185730
511  안덕면            여관업   86968   1994178934
495  안덕면        골프장 운영업   63079   7581730774
509  안덕면           슈퍼마켓   55468    932807607
523  안덕면  화장품 및 방향제 소매업   51672   1172594860
    읍면동명            업종명    이용자수         이용금액
551  애월읍        체인화 편의점  914611   8913096112
553  애월읍        한식 음식점업  643771  24081108467
534  애월읍  기타음식료품위주종합소매업  474618  23974897916
550  애월읍    차량용 주유소 운영업  458895  29429470650
537  애월읍       서양식 음식점업  257820   6070255183
539  애월읍           슈퍼마켓  201034   4363816379
535  애월읍       비알콜 음료점업  118980   1593771610
541  애월읍            여관업   67449   5445984119
526  애월읍        골프장 운영업   52810   8942081182
536  애월읍    빵 및 과자류 소매업   42363    643990818
    읍면동명                 업종명     이용자수          이용금액
586   연동             체인화 편의점  1986028   17690147519
588   연동             한식 음식점업  1552295   67558620226
572   연동                슈퍼마켓   841876   21017172098
582   연동           정기 항공 운송업   640930  102803758104
569   연동         빵 및 과자류 소매업   263631    4163599587
568   연동            비알콜 음료점업   216716    2387394344
585   연동         차량용 주유소 운영업   212387   10400246632
570   연동            서양식 음식점업   193392    7820170117
562   연동        기타 대형 종합 소매업   177560    4992293288
573   연동  스포츠 및 레크레이션 용품 임대업   121373   16259086821
    읍면동명            업종명    이용자수         이용금액
607  영천동    차량용 주유소 운영업  207445  11955213880
600  영천동           슈퍼마켓  169027  11465673271
608  영천동        체인화 편의점   96469    931546080
609  영천동        한식 음식점업   86636   4718292848
596  영천동  기타음식료품위주종합소매업   19954    959308925
603  영천동         육류 소매업   15941   1011787803
592  영천동        골프장 운영업   12888   2017931318
605  영천동        중식 음식점업   11179    340372975
610  영천동            호텔업   10337   1337049208
604  영천동    전시 및 행사 대행업    7926    173983390
    읍면동명                      업종명    이용자수         이용금액
640  예래동                  체인화 편의점  382363   4210831388
642  예래동                  한식 음식점업  257037  17065832905
639  예래동              차량용 주유소 운영업  119469   5716195298
643  예래동                      호텔업  101252  25675282041
626  예래동                 서양식 음식점업   88775   2595324088
636  예래동              전시 및 행사 대행업   70070   2397491590
641  예래동  피자, 햄버거, 샌드위치 및 유사 음식점업   46272    575843950
624  예래동                 비알콜 음료점업   42238    515074980
613  예래동                  골프장 운영업   33904   4639276847
630  예래동                      여관업   28637   3842573687
    읍면동명           업종명    이용자수         이용금액
673  오라동       한식 음식점업  399680  12600363654
671  오라동       체인화 편의점  235404   1994267550
670  오라동   차량용 주유소 운영업  227106  10805283562
659  오라동          슈퍼마켓  158182   3736976695
655  오라동      비알콜 음료점업   75154    896851980
650  오라동  그외 기타 종합 소매업   67857   2758083720
646  오라동       골프장 운영업   29985   5011896649
656  오라동   빵 및 과자류 소매업   28742    419769775
657  오라동      서양식 음식점업   21296    389361810
664  오라동        육류 소매업   21091   1180172571
    읍면동명                      업종명    이용자수         이용금액
686  외도동                     슈퍼마켓  398819   9571453290
699  외도동                  체인화 편의점  369937   3703625235
701  외도동                  한식 음식점업  307370  11147138510
698  외도동              차량용 주유소 운영업   93786   5160575251
683  외도동              빵 및 과자류 소매업   90052   1158661787
700  외도동  피자, 햄버거, 샌드위치 및 유사 음식점업   75931   1049835337
684  외도동                 서양식 음식점업   55802   1378271948
697  외도동               차량용 가스 충전업   25326   1091044683
696  외도동                  중식 음식점업   23928    613373200
688  외도동                      여관업   20785    787083617
     읍면동명          업종명    이용자수        이용금액
730  용담1동      체인화 편의점  132634  1132427680
732  용담1동      한식 음식점업  114277  5675879781
729  용담1동  차량용 주유소 운영업   57170  2620426264
717  용담1동         슈퍼마켓   49683   626410085
722  용담1동       육류 소매업   32577  2535159928
728  용담1동   차량용 가스 충전업   23579   729226686
705  용담1동  과실 및 채소 소매업   11748   813022006
714  용담1동  빵 및 과자류 소매업   10409   238664933
725  용담1동      자동차 임대업    8686   361276952
727  용담1동      중식 음식점업    7945   191471185
     읍면동명                      업종명     이용자수          이용금액
740  용담2동                      면세점  1971053  197349101246
755  용담2동                  체인화 편의점   997158    6454865100
757  용담2동                  한식 음식점업   705124   23056799984
741  용담2동                 비알콜 음료점업   447461    4056159850
745  용담2동                     슈퍼마켓   315063    6073529173
756  용담2동  피자, 햄버거, 샌드위치 및 유사 음식점업   298842    2856689381
737  용담2동        관광 민예품 및 선물용품 소매업   258312    8427903666
754  용담2동              차량용 주유소 운영업   249376   11922755361
752  용담2동                  자동차 임대업   169408   15384905067
742  용담2동              빵 및 과자류 소매업   130929    1352424335
    읍면동명                      업종명    이용자수        이용금액
763  우도면                내항 여객 운송업  205542  5145571904
780  우도면                  한식 음식점업  142849  4396486560
778  우도면                  체인화 편의점   45297   344257360
766  우도면                 서양식 음식점업   39065   617741080
764  우도면                 비알콜 음료점업   34763   620132080
768  우도면                     슈퍼마켓   22242   436848054
765  우도면              빵 및 과자류 소매업   20201   282904424
779  우도면  피자, 햄버거, 샌드위치 및 유사 음식점업   15431   161994900
762  우도면            기타음식료품위주종합소매업   15382   328094100
771  우도면                     여행사업   15237   311520800
     읍면동명           업종명    이용자수        이용금액
806  이도1동       체인화 편의점  264901  2087533244
808  이도1동       한식 음식점업  208154  7250478633
795  이도1동          슈퍼마켓  171809  3451318206
794  이도1동       수산물 소매업   87255  5436536941
783  이도1동   과실 및 채소 소매업   59842  4021536044
792  이도1동   빵 및 과자류 소매업   57768   862101985
791  이도1동      비알콜 음료점업   23955   247223080
800  이도1동        육류 소매업   22148   828189857
786  이도1동  그외 기타 종합 소매업   20845  6413003352
809  이도1동           호텔업   19697  3541325540
     읍면동명                      업종명     이용자수         이용금액
839  이도2동                  한식 음식점업  1723522  63972999833
837  이도2동                  체인화 편의점  1611941  14026955798
824  이도2동                     슈퍼마켓  1288885  53356826347
820  이도2동                 비알콜 음료점업   347756   3647080260
838  이도2동  피자, 햄버거, 샌드위치 및 유사 음식점업   341924   4388179999
821  이도2동              빵 및 과자류 소매업   280160   3753570292
836  이도2동              차량용 주유소 운영업   266238  12653904803
822  이도2동                 서양식 음식점업   233882   5101348888
831  이도2동                  일식 음식점업   113890   5052605083
812  이도2동              과실 및 채소 소매업    97954   6773631732
    읍면동명                 업종명    이용자수        이용금액
864  이호동             체인화 편의점  172495  1529301219
863  이호동         차량용 주유소 운영업   67448  3239071499
865  이호동             한식 음식점업   55582  2829972060
852  이호동                슈퍼마켓   32794   552028454
859  이호동             자동차 임대업   27879  2132851348
850  이호동            서양식 음식점업   12616   183870661
848  이호동            비알콜 음료점업   11373   121727605
849  이호동         빵 및 과자류 소매업    9807    98105050
861  이호동             중식 음식점업    8517   209475500
853  이호동  스포츠 및 레크레이션 용품 임대업    4981   172559905
     읍면동명                      업종명    이용자수         이용금액
880  일도1동       스포츠 및 레크레이션 용품 임대업  223603  27101934705
891  일도1동                  한식 음식점업  221901   5873728851
889  일도1동                  체인화 편의점  175765   1689115830
878  일도1동                  수산물 소매업  165819   9727214182
868  일도1동              과실 및 채소 소매업   66973   3300497449
875  일도1동                 비알콜 음료점업   52047    513714810
893  일도1동            화장품 및 방향제 소매업   46290   1175933408
890  일도1동  피자, 햄버거, 샌드위치 및 유사 음식점업   37991    362736763
876  일도1동              빵 및 과자류 소매업   35785    735029877
877  일도1동                 서양식 음식점업   26783    509472376
     읍면동명                      업종명    이용자수         이용금액
919  일도2동                  체인화 편의점  641140   5421931490
921  일도2동                  한식 음식점업  615583  22748119492
898  일도2동             그외 기타 종합 소매업  537954  36798591278
908  일도2동                     슈퍼마켓  508283   9693244347
905  일도2동              빵 및 과자류 소매업  175451   2399205447
920  일도2동  피자, 햄버거, 샌드위치 및 유사 음식점업  173642   1821502554
918  일도2동              차량용 주유소 운영업  117526   5134201810
899  일도2동             기타 대형 종합 소매업   71310   2319110230
904  일도2동                 비알콜 음료점업   41669    515231150
906  일도2동                 서양식 음식점업   35269    708828521
    읍면동명                      업종명    이용자수         이용금액
949  정방동                  체인화 편의점  817730   8212710988
951  정방동                  한식 음식점업  694175  30214452395
938  정방동                     슈퍼마켓  246798   5192868731
950  정방동  피자, 햄버거, 샌드위치 및 유사 음식점업  169243   2016715094
935  정방동              빵 및 과자류 소매업  151254   2303639351
945  정방동                  일식 음식점업  113103   9360515272
936  정방동                 서양식 음식점업  104880   2683731167
934  정방동                 비알콜 음료점업   95624   1102646313
925  정방동              과실 및 채소 소매업   91627   4537019047
937  정방동                  수산물 소매업   78030   4737800474
    읍면동명            업종명    이용자수         이용금액
983  조천읍        한식 음식점업  607940  23335650134
980  조천읍        체인화 편의점  522911   5025231205
968  조천읍           슈퍼마켓  225821   5429248438
976  조천읍    전시 및 행사 대행업  193645   5094487326
979  조천읍    차량용 주유소 운영업  185749  10143927993
959  조천읍   그외 기타 종합 소매업  109553   4175998990
963  조천읍  기타음식료품위주종합소매업  104695   2959770840
965  조천읍    빵 및 과자류 소매업   96526   1409421387
966  조천읍       서양식 음식점업   87832   1646108842
986  조천읍       휴양콘도 운영업   56141   6664759133
     읍면동명                      업종명    이용자수         이용금액
1014  중문동                  체인화 편의점  410311   3932463124
1016  중문동                  한식 음식점업  347961  16784999952
994   중문동            기타음식료품위주종합소매업  191288   7749424650
1001  중문동                     슈퍼마켓  143070   3954770305
996   중문동                      면세점   99316  14203022654
999   중문동                 서양식 음식점업   86461   2176128328
998   중문동              빵 및 과자류 소매업   63429    940834046
1015  중문동  피자, 햄버거, 샌드위치 및 유사 음식점업   45882    591022546
1013  중문동              차량용 주유소 운영업   40022   1996889112
1003  중문동                      여관업   32257   3619450027
     읍면동명                      업종명    이용자수         이용금액
1044  중앙동                  체인화 편의점  817730   8212710988
1046  중앙동                  한식 음식점업  694175  30214452395
1033  중앙동                     슈퍼마켓  246798   5192868731
1045  중앙동  피자, 햄버거, 샌드위치 및 유사 음식점업  169243   2016715094
1030  중앙동              빵 및 과자류 소매업  151254   2303639351
1040  중앙동                  일식 음식점업  113103   9360515272

지역별 필터링: groupby_region_sector[groupby_region_sector['읍면동명'] == region]를 사용하여 특정 지역의 데이터를 필터링합니다.

데이터 합치기

In [28]:
df

               연월  시군구명 읍면동명                 업종명  성별  이용자수       이용금액
0      2017-01-01  서귀포시  남원읍          건강보조식품 소매업  남성    11     137500
1      2017-01-01  서귀포시  천지동          건강보조식품 소매업  여성    61   12334400
2      2017-01-01  서귀포시  대정읍       기타음식료품위주종합소매업  남성   555   17301300
3      2017-01-01  서귀포시  대정읍              기타 주점업  남성   324   71843080
4      2017-01-01  서귀포시  대정읍         기타 외국식 음식점업  남성    40     971000
...           ...   ...  ...                 ...  ..   ...        ...
54146  2018-12-01   제주시  오라동             중식 음식점업  여성   110    3043250
54147  2018-12-01   제주시   연동  스포츠 및 레크레이션 용품 임대업  여성  2317  365724920
54148  2018-12-01   제주시   연동                 호텔업  여성   810  232661992
54149  2018-12-01   제주시  오라동       기타음식료품위주종합소매업  남성    25    1225510
54150  2018-12-01   제주시   연동       화장품 및 방향제 소매업  여성  2351   84518980

[54151 rows x 7 columns]

In [29]:
df_pop

             연월일  시군구명 읍면동명 성별    연령대   방문인구
0       20170101   제주시  한림읍  남    40대  19424
1       20170101   제주시  애월읍  여    20대  27747
2       20170101   제주시  구좌읍  남    70대   3459
3       20170101   제주시  조천읍  남    40대  36695
4       20170101   제주시  한경면  남    70대   1174
...          ...   ...  ... ..    ...    ...
527021  20181231  서귀포시  대륜동  남    40대  22791
527022  20181231  서귀포시  대천동  여    60대   7060
527023  20181231  서귀포시  중문동  남  10세미만   6061
527024  20181231  서귀포시  중문동  여    20대   9482
527025  20181231  서귀포시  예래동  여    50대  12314

[527026 rows x 6 columns]

In [30]:
df.loc[df['성별']=='남성','성별'] = '남'
df.loc[df['성별']=='여성','성별'] = '여'

In [31]:
df

               연월  시군구명 읍면동명                 업종명 성별  이용자수       이용금액
0      2017-01-01  서귀포시  남원읍          건강보조식품 소매업  남    11     137500
1      2017-01-01  서귀포시  천지동          건강보조식품 소매업  여    61   12334400
2      2017-01-01  서귀포시  대정읍       기타음식료품위주종합소매업  남   555   17301300
3      2017-01-01  서귀포시  대정읍              기타 주점업  남   324   71843080
4      2017-01-01  서귀포시  대정읍         기타 외국식 음식점업  남    40     971000
...           ...   ...  ...                 ... ..   ...        ...
54146  2018-12-01   제주시  오라동             중식 음식점업  여   110    3043250
54147  2018-12-01   제주시   연동  스포츠 및 레크레이션 용품 임대업  여  2317  365724920
54148  2018-12-01   제주시   연동                 호텔업  여   810  232661992
54149  2018-12-01   제주시  오라동       기타음식료품위주종합소매업  남    25    1225510
54150  2018-12-01   제주시   연동       화장품 및 방향제 소매업  여  2351   84518980

[54151 rows x 7 columns]

In [32]:
df_pop['연월일'] = df_pop['연월일'].astype('string')
df_pop['연월'] = df_pop['연월일'].str[:4] + '-' + df_pop['연월일'].str[4:6] +'-' + df_pop['연월일'].str[6:9]
df_pop

             연월일  시군구명 읍면동명 성별    연령대   방문인구          연월
0       20170101   제주시  한림읍  남    40대  19424  2017-01-01
1       20170101   제주시  애월읍  여    20대  27747  2017-01-01
2       20170101   제주시  구좌읍  남    70대   3459  2017-01-01
3       20170101   제주시  조천읍  남    40대  36695  2017-01-01
4       20170101   제주시  한경면  남    70대   1174  2017-01-01
...          ...   ...  ... ..    ...    ...         ...
527021  20181231  서귀포시  대륜동  남    40대  22791  2018-12-31
527022  20181231  서귀포시  대천동  여    60대   7060  2018-12-31
527023  20181231  서귀포시  중문동  남  10세미만   6061  2018-12-31
527024  20181231  서귀포시  중문동  여    20대   9482  2018-12-31
527025  20181231  서귀포시  예래동  여    50대  12314  2018-12-31

[527026 rows x 7 columns]

In [33]:
df.merge(df_pop, how='outer')

,연월,시군구명,읍면동명,업종명,성별,이용자수,이용금액,연월일,연령대,방문인구
0,2017-01-01,서귀포시,남원읍,건강보조식품 소매업,남,11.0,137500.0,20170101,10대,11074.0
1,2017-01-01,서귀포시,남원읍,건강보조식품 소매업,남,11.0,137500.0,20170101,20대,11377.0
2,2017-01-01,서귀포시,남원읍,건강보조식품 소매업,남,11.0,137500.0,20170101,30대,15045.0
3,2017-01-01,서귀포시,남원읍,건강보조식품 소매업,남,11.0,137500.0,20170101,40대,20678.0
4,2017-01-01,서귀포시,남원읍,건강보조식품 소매업,남,11.0,137500.0,20170101,50대,19435.0
...,...,...,...,...,...,...,...,...,...,...
966459,2018-12-31,서귀포시,중문동,NaN,남,NaN,NaN,20181231,50대,14195.0
966460,2018-12-31,서귀포시,중문동,NaN,남,NaN,NaN,20181231,60대,7531.0
966461,2018-12-31,서귀포시,중문동,NaN,남,NaN,NaN,20181231,70대,2952.0
966462,2018-12-31,서귀포시,중문동,NaN,남,NaN,NaN,20181231,80대이상,1124.0
966463,2018-12-31,서귀포시,중문동,NaN,남,NaN,NaN,20181231,10세미만,6061.0

카페 업종의 소비가 활성화된 지역은?

In [34]:
df['업종명'].unique()

array(['건강보조식품 소매업', '기타음식료품위주종합소매업', '기타 주점업', '기타 외국식 음식점업',
       '그외 기타 종합 소매업', '그외 기타 분류안된 오락관련 서비스업', '일반유흥 주점업', '비알콜 음료점업',
       '일식 음식점업', '중식 음식점업', '차량용 가스 충전업', '차량용 주유소 운영업',
       '스포츠 및 레크레이션 용품 임대업', '체인화 편의점', '한식 음식점업', '전시 및 행사 대행업', '호텔업',
       '빵 및 과자류 소매업', '수산물 소매업', '여행사업', '여관업', '화장품 및 방향제 소매업', '욕탕업',
       '육류 소매업', '서양식 음식점업', '슈퍼마켓', '과실 및 채소 소매업', '골프장 운영업', '자동차 임대업',
       '관광 민예품 및 선물용품 소매업', '피자, 햄버거, 샌드위치 및 유사 음식점업', '휴양콘도 운영업',
       '그외 기타 스포츠시설 운영업', '기타 대형 종합 소매업', '내항 여객 운송업', '마사지업',
       '기타 수상오락 서비스업', '면세점', '정기 항공 운송업', '버스 운송업', '기타 갬블링 및 베팅업',
       '택시 운송업'], dtype=object)

In [35]:
cafe_df = df[df['업종명'] == '비알콜 음료점업']
cafe_df.groupby('읍면동명').sum(numeric_only=True).sort_values(by='이용금액', ascending=False).iloc[:10]

        이용자수        이용금액
읍면동명
용담2동  447461  4056159850
이도2동  347756  3647080260
노형동   300088  2738692471
연동    216716  2387394344
애월읍   118980  1593771610
송산동   138608  1536821323
천지동   132038  1425763713
아라동   134662  1322616147
중앙동    95624  1102646313
정방동    95624  1102646313